body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/portfolio\ background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: orange;
    height: 100vh;
    width: 100vw;
  }
  

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1.5fr 0.5fr;
    grid-template-areas: "Header Header Header" "Hair Youtube Dashboard" "Resume Nasa blog" ". . .";
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
  }
  
  .Header { grid-area: Header; }
  
  .Hair { grid-area: Hair; }
  
  .Youtube { grid-area: Youtube; }
  
  .Dashboard { grid-area: Dashboard; }



  image img {
    max-width: 10%;
    max-height: 10px;
    cursor: pointer;
    object-fit: contain;
  }
    
img{
  text-align:left;
  width:30px;
  height:30px;

  
}
 

  @media (min-width: 768px) {
    .container ;
    display: grid;
    grid-template-columns: 10%, 65% 25%;
  
  /* Extra Small and up (Portrait Phones) */
  
  /* Small and up (Landscape Phones) */
  @media (min-width: 576px) {
  
  }
  
  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
  
  }
  
  /* Large and up (Desktops) */
  @media (min-width: 992px) {
  
  }
  
  /* Extra Large and up (Wide Screen Desktops) */
  @media (min-width: 1200px) {
  
  }
  
  .grid-container {
      display: grid;
      grid-column-gap: 100px;
      }
  
  .container {
      padding: 2px 16px;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
      
      "div1 div2 div3";
  }
      
   .container {
          display: grid;
          box-sizing: border-box;
      }
  
    iframe {
      margin-left: 0%;
    }
  
    .iframe-container {
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
    }
  
    .iframe-container iframe {
      border: 0;
      height: 100%;
      left: 1;
      position: absolute;
      top: 0;
      width: 100%;
   }


   header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: aside;
  }
  .banner {
    grid-area: banner;
  }
  footer {
    grid-area: footer;
  }
  .something (
      grid-area: newgridarea;

  )
    
  
  
      element.style {
        text-align: center;
    }
  
  
      h1 {
        color: rgb(29, 11, 194);
        grid-column: 2/3;
        margin: 3% auto;
        border-bottom: 2px solid #1940A9;
    }
  
    element.style {
      width: 150%;
  }
  
  .card {
    box-shadow: rgb(10, 20, 45,1); 
    transition: 0.9s;
  }
  
  div {
    text-align: center;

  
